<!doctype html>
<html amp>
  <head>
    <meta charset="utf-8">
    <title><%= current_page.data.title %><%= current_page.data.title && ' - '%>AMP について</title>
    <link rel=canonical href=<%= current_page.url %>>
    <link rel=amphtml href=<%= current_page.url %>>
    <link rel="shortcut icon" href="<%= url_for('/favicon.ico') %>" type="image/vnd.microsoft.icon">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <%= schema_org_json_ld_tag %>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <%- Array(current_page.data.amp_components).each do |name| -%>
    <%= require_amp_component(name) %>
    <%- end -%>
    <%- Array(current_page.data.amp_custom_templates).each do |name| -%>
    <%= require_amp_custom_template(name) %>
    <%- end -%>
    <%= stylesheet_inline_tag :site %>
  </head>

  <body class="site">
    <amp-analytics type="googleanalytics">
      <script type="application/json">
        {
          "vars": {
            "account": "UA-74786367-1"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "pageview"
            }
          }
        }
      </script>
    </amp-analytics>
    <header class="site__header"><h1><%= link_to 'AMP について', '/index.html' %></h1></header>
    <main class="site__main">
    <%= yield %>
    </main>
    <footer class="site__footer">
     &copy; 2016 Appirits Inc.
    </footer>
  </body>
</html>
