---
title: こんにちは
schema_org:
  '@type': WebPage
---
<header>
 <h1><%= image_tag "hello.jpg", width: 800, height: 180, alt: 'こんにちは' %></h1>
</header>

<p>
 こんにちは。昨日はもりそばを食べました。
 明日はかけそばを食べたいです。
</p>
<p>6df47e289c84236cb0369a4418595a78</p>

<section>
 <h2><code>amp-analytics</code> で Google Analytics を使うには</h2>
 <p><code>head</code> にこれを書く</p>
 <pre><code>&lt;script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js">&lt;/script></code></pre>
 <p><code>body</code> にこれを書く</p>
 <pre><code>&lt;amp-analytics type="googleanalytics" id="あなたのID">&lt;/amp-analytics></code></pre>
 <p>参考: <a href="https://developers.google.com/analytics/devguides/collection/amp-analytics/">Adding Analytics to your AMP pages  |  Analytics for AMP Pages  |  Google Developers</a></p>
</section>

<section>
 <h2>拡張コンポーネント</h2>
 <ul>
  <li><%= link_to 'amp-access', 'articles/amp-access.html' %></li>
  <li><%= link_to 'amp-accordion', 'articles/amp-accordion.html' %></li>
  <li><%= link_to 'amp-analytics', 'articles/amp-analytics.html' %></li>
  <li><%= link_to 'amp-anim', 'articles/amp-anim.html' %></li>
  <li><%= link_to 'amp-audio', 'articles/amp-audio.html' %></li>
  <li><%= link_to 'amp-brightcove', 'articles/amp-brightcove.html' %></li>
  <li><%= link_to 'amp-carousel', 'articles/amp-carousel.html' %></li>
  <li><%= link_to 'amp-dailymotion', 'articles/amp-dailymotion.html' %></li>
  <li><%= link_to 'amp-dynamic-css-classes', 'articles/amp-dynamic-css-classes.html' %></li>
  <li><%= link_to 'amp-facebook', 'articles/amp-facebook.html' %></li>
  <li><%= link_to 'amp-fit-text', 'articles/amp-fit-text.html' %></li>
  <li><%= link_to 'amp-font', 'articles/amp-font.html' %></li>
  <li><%= link_to 'amp-iframe', 'articles/amp-iframe.html' %></li>
  <li><%= link_to 'amp-image-lightbox', 'articles/amp-image-lightbox.html' %></li>
  <li><%= link_to 'amp-instagram', 'articles/amp-instagram.html' %></li>
  <li><%= link_to 'amp-install-serviceworker', 'articles/amp-install-serviceworker.html' %></li>
  <li><%= link_to 'amp-lightbox', 'articles/amp-lightbox.html' %></li>
  <li><%= link_to 'amp-list', 'articles/amp-list.html' %></li>
  <li><%= link_to 'amp-mustache', 'articles/amp-mustache.html' %></li>
  <li><%= link_to 'amp-pinterest', 'articles/amp-pinterest.html' %></li>
  <li><%= link_to 'amp-social-share', 'articles/amp-social-share.html' %></li>
  <li><%= link_to 'amp-soundcloud', 'articles/amp-soundcloud.html' %></li>
  <li><%= link_to 'amp-twitter', 'articles/amp-twitter.html' %></li>
  <li><%= link_to 'amp-user-notification', 'articles/amp-user-notification.html' %></li>
  <li><%= link_to 'amp-vimeo', 'articles/amp-vimeo.html' %></li>
  <li><%= link_to 'amp-vine', 'articles/amp-vine.html' %></li>
  <li><%= link_to 'amp-youtube', 'articles/amp-youtube.html' %></li>
 </ul>
