---
schema_org:
  '@type': WebPage
---

<section>
 <h2>AMP とは</h2>
 <p>TODO: ここに概要を書く</p>
 <ul>
  <li><%= link_to 'レイアウトについて', 'layouts.html' %></li>
 </ul>
</section>

<section>
 <h2>組み込みコンポーネント</h2>
 <ul>
  <li>amp-ad</li>
  <li>amp-embed</li>
  <li>amp-img</li>
  <li>amp-pixel</li>
  <li>amp-video</li>
 </ul>
</section>

<section>
 <h2>拡張コンポーネント</h2>
 <ul>
  <li><%= link_to 'amp-access', 'articles/amp-access.html' %></li>
  <li><%= link_to 'amp-accordion', 'articles/amp-accordion.html' %></li>
  <li><%= link_to 'amp-analytics', 'articles/amp-analytics.html' %></li>
  <li><%= link_to 'amp-anim', 'articles/amp-anim.html' %></li>
  <li><%= link_to 'amp-audio', 'articles/amp-audio.html' %></li>
  <li><%= link_to 'amp-brightcove', 'articles/amp-brightcove.html' %></li>
  <li><%= link_to 'amp-carousel', 'articles/amp-carousel.html' %></li>
  <li><%= link_to 'amp-dailymotion', 'articles/amp-dailymotion.html' %></li>
  <li><%= link_to 'amp-dynamic-css-classes', 'articles/amp-dynamic-css-classes.html' %></li>
  <li><%= link_to 'amp-facebook', 'articles/amp-facebook.html' %></li>
  <li><%= link_to 'amp-fit-text', 'articles/amp-fit-text.html' %></li>
  <li><%= link_to 'amp-font', 'articles/amp-font.html' %></li>
  <li><%= link_to 'amp-iframe', 'articles/amp-iframe.html' %></li>
  <li><%= link_to 'amp-image-lightbox', 'articles/amp-image-lightbox.html' %></li>
  <li><%= link_to 'amp-instagram', 'articles/amp-instagram.html' %></li>
  <li><%= link_to 'amp-install-serviceworker', 'articles/amp-install-serviceworker.html' %></li>
  <li><%= link_to 'amp-lightbox', 'articles/amp-lightbox.html' %></li>
  <li><%= link_to 'amp-list', 'articles/amp-list.html' %></li>
  <li><%= link_to 'amp-mustache', 'articles/amp-mustache.html' %></li>
  <li><%= link_to 'amp-pinterest', 'articles/amp-pinterest.html' %></li>
  <li><%= link_to 'amp-social-share', 'articles/amp-social-share.html' %></li>
  <li><%= link_to 'amp-soundcloud', 'articles/amp-soundcloud.html' %></li>
  <li><%= link_to 'amp-twitter', 'articles/amp-twitter.html' %></li>
  <li><%= link_to 'amp-user-notification', 'articles/amp-user-notification.html' %></li>
  <li><%= link_to 'amp-vimeo', 'articles/amp-vimeo.html' %></li>
  <li><%= link_to 'amp-vine', 'articles/amp-vine.html' %></li>
  <li><%= link_to 'amp-youtube', 'articles/amp-youtube.html' %></li>
 </ul>
